html
    head
        meta(charset="utf8")
        title Wrker Live View
        style
            include ../../node_modules/nvd3/build/nv.d3.min.css
        style
            include events.css
        script
            include ../../node_modules/d3/d3.min.js
            include ../../node_modules/nvd3/build/nv.d3.js
        script
            include graphs.js
            include events.js
    body
        header
            h1 Wrker
            h2.status Not running
        main