html
    head
        title Wrker Live View
        style
            include events.css
        script
            include ../../node_modules/d3/d3.min.js
        script
            include graphs.js
            include events.js
    body
        header
            h1 Wrker
            h2.status Not running
        main